@CHARSET "ISO-8859-1";

.tituloTabela{
	font-size: 0.8cm;
	font-style: italic;
}

.tabela{
	border: thick;
	background: silver;
	border-style:ridge; 
}

.tabelaCabecalho{
	text-align: center;
	font-style: italic;
	color: lime;
	background: teal;
	}
	
.tabelaRodape{
	text-align: center;
	color: blue;
	background: lime;
}

.colunaIDcabecalho{
	font-style: italic;
	text-align: center;
}

.colunaIDrodape{
	font-style: italic;
	text-align: center;
	font-size: 0.65em;
}

.colunaCabecalho{
	font-style: bold;
	text-align: center;
}

.colunaRodape{
	font-style: bold;
	text-align: center;
	
}

.primeiraColuna{
	text-align: center;
	background: fuchsia;
}


.segundaColuna{
	text-align: right;
	background: green;
}


.terceiraColuna{
	text-align: left;
	background: orange;
}

.primeiraLinha{
	text-align: center;
	background: orange;
}


.segundaLinha{
	text-align: center;
	background: aqua;
}

.tituloJanela{
	font-size: 1.4em;
	font-family: Palatino;
	font-style: negrit;
	text-align: center;	
}

#cabecalho{
	padding: 20px;
	height: 30px;
	margin-bottom: 10px;
	background: #dddddd;
	border: 1px solid darkGray;
}

#barraEsquerda{
	border: thin solid lightGray;
	padding: 5px;
	width: 150px;
	background: #eeeeee;
}

#conteudo{
	padding: 5px;
	border: thin solid lightGray;
	background: fefeef;
	position: absolute;
	right: 8px;
	left: 180px;
	height: 400px;
	top: 90px;
}